<div class="container">
  <button (click)="editUser()" *ngIf="!isEditing">Edit All</button>
<button (click)="saveUser()" *ngIf="isEditing">Save</button>
<!-- <button (click)="cancelEdit()" *ngIf="isEditing">Cancel</button> -->
  <div class="table-container">
    <form [formGroup]="form"> 
      <div formArrayName="users">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of this.form.controls['users']; let i = index" [formGroupName]="i">
              <td><input formControlName="name"></td>
              <td><input formControlName="username"></td>
              <td><input formControlName="email"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    
  </div>
</div>